/*Global & Reset*/
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700");

:root {
  --black: #000;
  --white: #fff;
  --text-dark: hsl(229, 25%, 31%);
  --text-score: hsl(229, 64%, 46%);
}

::placeholder {
  color: var(--black);
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 700;
  letter-spacing: 0.1rem;
  color: white;
  user-select: none;

  /* DEBUG BORDER */
  /* border: 1px solid red; */
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/*End of Global & Reset*/

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
}

.Scoreboard-wrapper {
  width: 50vw;
  margin-top: 5rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  border: 0.3rem solid hsl(217, 16%, 45%);
  border-radius: 1rem;
}

.Rps p {
  font-size: 8rem;
  line-height: 0.75;
  vertical-align: middle;
}

.Score-counter {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
  padding: 1rem 5vw;
  border-radius: 1rem;
}
.Score-title {
  color: var(--text-score);
  font-size: 2.5rem;
}

.Score {
  color: var(--text-dark);
  font-size: 10rem;
}

.Selection-Container {
  margin: auto;
  width: 50vw;
  aspect-ratio: 1/1;
  background-image: url("../images/bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 55%;
  display: grid;
  place-items: center;
  grid-template-areas:
    "Rock Paper"
    "Scissors Scissors";
}

.Outer-Circle-Paper {
  grid-area: Paper;
  background: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
  box-shadow: hsla(229, 65%, 46%, 0.8) 0.1rem 0.75rem 0 -0.2rem;
}

.Outer-Circle-Rock {
  grid-area: Rock;
  background: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  box-shadow: hsla(348, 74%, 35%, 0.8) 0.1rem 0.75rem 0 -0.2rem;
}
.Outer-Circle-Scissors {
  grid-area: Scissors;
  background: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
  box-shadow: hsla(28, 75%, 45%, 0.8) 0.1rem 0.75rem 0 -0.2rem;
}

.Outer-Circle {
  height: 18rem;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.Selection-Container .Outer-Circle {
  cursor: pointer;
}
.Outer-Circle[title] {
  font-size: 5rem;
}

.Selection-Container .Outer-Circle:hover {
  transform: scale(1.05);
  transition: 0.01s;
}

.Selection-Container .Outer-Circle:active {
  transform: scale(1);
  transition: 0.01s;
}

.Inner-Circle {
  height: 13rem;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: white;
  box-shadow: rgba(8, 8, 8, 0.3) 0.1rem 0.5rem 0 -0.2rem inset;
}

.Paper,
.Rock,
.Scissors {
  height: 55%;
}

.Results-Page {
  margin: auto;
}
.Game-Container {
  width: 65rem;
  display: flex;
  margin: 5rem;
  align-items: center;
  justify-content: space-between;
}

.Game-Container h2 {
  font-size: 3.5rem;
}
.Game-Container .Outer-Circle {
  height: 25rem;
}

.Game-Container .Inner-Circle {
  height: 19rem;
}

.Result-Container {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

.Result-Container h2 {
  font-size: 2.5rem;
}

.Reset-Button {
  cursor: pointer;
  margin: 2rem;
  padding: 1rem;
  color: var(--text-dark);
  font-size: 2.25rem;
  border-radius: 0.5rem;
  border: 0.1rem solid var(--text-dark);
}

.Reset-Button:hover {
  transform: scale(1.05);
}

.Reset-Button:active {
  transform: scale(1);
}

/* Media Queries */
/* Phone Portrait */
@media (max-width: 420px) {
  html {
    font-size: 30%;
  }
  .Scoreboard-wrapper {
    width: 90vw;
    margin-top: 5rem;
  }

  .Selection-Container {
    width: 90vw;
  }
}
/* Smaller Screens */
@media (min-width: 421px) and (max-width: 768px) {
  html {
    font-size: 35%;
  }
  .Scoreboard-wrapper {
    width: 70vw;
  }
}
/* Medium Screens */
@media (min-width: 769px) and (max-width: 1024px) {
  html {
    font-size: 45%;
  }
}

/* Larger Screens */
@media (min-width: 1025px) and (max-width: 1400px) {
  html {
    font-size: 55%;
  }

  .Scoreboard-wrapper {
  }
}
